@layout('templates.main')

@section('content')
    @set('title', 'New Category')

    <h1>Create new category</h1>

    <form action="{{ route('CategoryController.store') }}" method="post">
        @include('categories._partials.form')
    </form>

@endsection