@layout('templates.main')

@section('content')
    @set('title', 'New Product')

    <h1>Create new product</h1>

    <form action="{{ route('ProductController.store') }}" method="post" enctype="multipart/form-data">
        @include('products._partials.form')
    </form>

@endsection