@layout('templates.main')

@section('content')

    <h1>Cadastrar Novo Produto</h1>

    <form action="{{ route('ProductController.store') }}" method="post">
        @include('products._partials.form')
    </form>

@endsection