@layout('templates.main')

@section('content')

    <h1>Cadastrar Novo Produto</h1>

    <form action="" method="post">
        <input type="text" name="name" placeholder="Name:">
        <input type="text" name="description" placeholder="Description:">
        <input type="file" name="image">
        <input type="checkbox" name="published" id="published" value="1">
        <label for="published">Publicar?</label>
        <button type="submit">Enviar</button>
    </form>

@endsection