@layout('templates.main')

@section('content')

    <h1>Editar {{ product.title }}</h1>

    <form action="/products/{{ product.id }}?_method=PUT" method="post">
        @include('products._partials.form')
    </form>

@endsection