<ul class="paginate">
    @if(products.pages.page != '1')
    <li>
        <a href="?page={{ products.pages.page - 1 }}">Previous</a>
    </li>
    @endif

    @if(products.pages.page != products.pages.lastPage)
    <li>
        <a href="?page={{ products.pages.page + 1 }}">Next</a>
    </li>
    @endif    
</ul>