<ul class="paginate">
    @if(products.page != '1')
    <li>
        <a href="?page={{ products.page - 1 }}">Previous</a>
    </li>
    @endif

    @if(products.page != products.lastPage)
    <li>
        <a href="?page={{ products.page + 1 }}">Next</a>
    </li>
    @endif    
</ul>